.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 1;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  height: 325px;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: #535471;
  transform: scale(1.5);
  transition: all ease-out 0.2s;
}

.content-active {
  transform: scale(1);
}

.form {
  position: relative;
  width: 396px;
  height: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &.form-d {
    justify-content: center;
  }
  &-header {
    display: flex;
    justify-content: flex-start;
    font-family: 'Luckiest Guy', serif;
    color: #fff;
  }
  &-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 396px;
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 50%;
      font-size: 14px;
      color: #fff;
    }
    &__icon:focus + &__tooltip {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
    &__tooltip {
      position: absolute;
      width: 100px;
      height: 50px;
      background: #535471;
      border: 1px solid #fff;
      border-radius: 5px;
      color: #fff;
      top: 105px;
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.3s ease;
      z-index: -1;
      &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 35%;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #fff transparent;
      }
    }
    &__name {
      width: 200px;
      height: 40px;
      border: 1px solid #7879a6;
      border-radius: 5px;
      color: #000;
      font-size: 24px;
      font-family: "Segoe UI", serif;
      font-weight: 700;
      padding: 5px 5px 10px 10px;
      text-shadow: 1px 1px 0 #7e80b6;
      box-shadow: inset 3px 3px 5px #333346, inset -3px -3px 5px #6e7098;
      transition: all 0.2s ease-in-out;
      &:focus {
        box-shadow: inset 1px 1px 1px #272734, inset -1px -1px 1px #616285;
      }
      &.desc {
        width: 396px;
        text-shadow: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #fff;
        padding: 0;
        resize: none;
        font-family: "Segoe UI Light", serif;
        font-size: 20px;
        color: #fff;
      }
    }
    &__account {
      color: #f6ae09;
      text-shadow: 1px 1px 1px #000000;
      font-weight: 600;
      font-size: 24px;
      font-family: "Segoe UI Light", serif;
      cursor: pointer;
    }
    .select {
      border: none;
      box-shadow: none;
      padding: 0;
      text-align: center;
    }
    &__label {
      display: flex;
      justify-content: center;
      min-width: 70px;
      min-height: 40px;
      font-family: "Segoe UI", serif;
      font-size: 24px;
      color: #fff;
      &.text {
        justify-content: flex-start;
      }
    }
    &.flex-s {
      justify-content: flex-start;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
  &-button {
    font-family: 'Luckiest Guy', serif;
    font-size: 24px;
    color: #fff;
    padding: 10px 20px;
    background: #535471;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: inset 2px 2px 3px 3px #7879a9,
      inset -2px -2px 3px 3px #333346;
    }
  }
}

.w {
  width: 380px;
}

.mr {
  margin: 0 15px 0;
}

.ml {
  margin-left: 14px;
}

.mra {
  margin-right: auto;
}

.b-r {
  margin-right: 12px;
}

.header {
  font-family: 'Luckiest Guy', serif;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}